@media (min-width: 31em) and (max-width: 80em) {
    html {
        font-size: 50%;
    }
    .about-me-container,
    .project-container {
        width: 80%;
    }

    .skills-container {
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
    }

    .stats-container {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }

    .blogs-container {
        width: 80%;
    }

    .work-container {
        width: 80%;
    }

    .contact-container {
        width: 60%;
    }
    .work-details>.achievements>div>span {
        gap: 0.1rem;
    }
}

@media (max-width: 30em) {
    html {
        font-size: 40%;
    }
    nav {
        padding: 1.6rem;
    }

    nav ul li img {
        width: 3.2rem;
        height: 3.2rem;
    }
    .occupation h2 {
        font-size: 5.6rem;
    }

    .about-me-container,
    .project-container {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        gap: 8rem;
    }

    .skills-container {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        gap: 3.2rem;
    }

    .stats-container {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        justify-items: start;
        gap: 1.6rem;
        box-shadow: none !important;
    }

    .stat-item {
        width: 100%;
        border: 2px solid var(--tertiary-color);
        padding: 0.8rem;
        padding-right: 0;
        border-radius: 1.6rem;
        margin-left: -0.8rem;
    }

    .blogs-container {
        width: 80%;
    }

    .work-container {
        width: 80%;
    }

    .work-container .line {
        left: 0%;
    }

    .work-container .work-item>div:nth-child(1) {
        display: none;
    }

    .work-container .work-item .work-duration span {
        display: none;
    }

    .work-container .work-item>div:nth-child(2) {
        width: 100%;
    }

    p[class="company-name"] {
        font-size: 3.2rem;
    }

    .sm-work-duration {
        display: block;
    }

    .contact-container {
        width: 80%;
    }

}