html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url('content/Rohit.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: #000;
    height: 100vh;
    padding: 0rem 5rem;
    color: white!important;
    font-size: 16px!important;
    overflow-x: hidden;
}


@media only screen and (max-width: 766px) {
    body {
      
      padding: 0;
    }

    .navbar{
        width: 100%!important;
    }

    .navbar-brand{
        letter-spacing: 5px;
        font-size: 20px;
        font-weight: 700;
        color: whitesmoke!important;
        display: block!important;
    }

    .content_box{
        padding: 2rem!important;
        width: 100%!important;

    }
  }

welcome-page, about-page {
    display: none;
    
}

.desc{
    color: rgb(201, 198, 198);
}

.navbar{
    width: 90%;    
    background-color: #000;
}
.navigation-bar{
    position: fixed;
    width: inherit;
    background-color: inherit;
}
.navbar-brand{
    display: none;
}
.navbar-toggle{
    background-color: white;
    color: black;
    border-color: black;
}

.navbar-toggle span{
    background-color: black;
}

.navigation-bar a {
    text-decoration: none;
    color: white;
    font-weight: 550;
}

a:hover,
a:enabled {
    color: orange;
    background-color: transparent!important;
}

.left-navigation {
    flex-grow: 1;
    justify-content: start;
}

.right-navigation {
    justify-content: end;
}

.left-navigation>ul,
.right-navigation>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-navigation>ul li,
.right-navigation>ul li {
    cursor: pointer;
    display: inline;
    margin: 4rem;
}




/* welcome page */

.content_box {
    width: 60%;
    height: 100%;
    padding-top: 8rem;
    padding-left: 4rem;
    padding-bottom: 5rem;
    text-align: left;
}

.intro #name {
    font-size: 26px;
    font-weight: 450;
    padding: .8rem 0;
}

.intro #designation {
    font-size: 60px;
    font-weight: 600;
    padding: .8rem 0;
}

.about_content > #role {
    
    font-size: 60px;
    font-weight: 600;
}

.about_content > #about_desc {
    line-height: 35px;
}



#work_intro{
    height: 70vh;
}

.work_sections{
    width: 100%;
}

.work_sections > .work_section{
    display: flex;
    height: 80vh;
    background-image: linear-gradient(
0deg,#000,#172229),linear-gradient(
180deg,#000,#000);
margin-bottom: 10rem;
border-radius: 10px;
}

.work_sections > .work_section > .company_details{
flex-grow: 1;
display: flex;
flex-direction: column;
}

.work_sections > .work_section > .company_details:nth-child(1){
    padding: 15rem 0 5rem 8rem;  
    }

.work_sections > .work_section > .company_details:nth-child(2){
    align-items: end;
    justify-content: center;
    padding-right: 8rem;
    }
.company_name{
    font-size: 30px;
    font-weight: 600;
    color: royalblue;
}

.company_address{
    color: whitesmoke;
}
.work_sections > .work_section > .company_image{
    flex-grow: 1;
    margin: 5rem;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.infosys{
    background-image: url('content/Infosys.png');

}

.epam{
    background-image: url('content/EPAM.png');

}