
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body>section {
    width: 100%;
    min-height: 80vh;
}

body>section:nth-child(1) {
    min-height: 100vh;
}

* {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 4.8rem;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
}

body[class="light-mode"] {
    --primary-color: #f5f5f5;
    --secondary-color: #ebebeb;
    --tertiary-color: #e0e0e0;
    --text-color: #000;
    --secondary-text-color: #666666;
    --accent-color: #4CAF50;
    --blur-primary-color: rgba(255, 255, 255, 0.1);
    --invert-60: invert(40%);
    --invert-80: invert(20%);
    --invert-100: invert(0%);
}

body[class="dark-mode"] {
    --primary-color: #000;
    --secondary-color: #1f1f1f;
    --tertiary-color: #333333;
    --text-color: #fff;
    --secondary-text-color: #adadad;
    --accent-color: #7FD376;
    --blur-primary-color: rgba(0, 0, 0, 0.1);
    --invert-60: invert(60%);
    --invert-80: invert(80%);
    --invert-100: invert(100%);
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    display: inline;
}

@keyframes scrollOccupation {
    0% {
        transform: translateY(100%);
        /* Start below the visible area */
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        /* Move into the visible area */
        opacity: 1;
    }

    30% {
        transform: translateY(0);
        /* Stay in the visible area */
        opacity: 1;
    }

    40% {
        transform: translateY(-100%);
        /* Move out of the visible area */
        opacity: 0;
    }

    100% {
        transform: translateY(-100%);
        /* Stay out of the visible area */
        opacity: 0;
    }
}

.attractive-btn {
    padding: 1.6rem 4.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 5rem 1.6rem 5rem 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sm-btn {
    padding: 1.2rem 3.2rem;
    font-size: 1.4rem;
}

.lg-btn {
    padding: 2rem 6.4rem;
    font-size: 1.8rem;
    border-radius: 6rem 2rem 6rem 6rem;
}

.highlight-btn {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
.xs-pills {
    background-color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    color: var(--secondary-text-color);
    padding: 0.2rem 0.8rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.sm-pills {
    background-color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    color: var(--secondary-text-color);
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.lg-pills {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--tertiary-color);
    padding: 0.8rem 2.4rem;
    font-size: 1.6rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fade-in {
    animation: fadeIn 0.8s ease-in-out forwards;
}
.slow-fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.error-text {
    color: red;
    font-size: 1.4rem;
    font-weight: 500;
}

.loader {
    width: 8rem;
    display: none;
}

b {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
}