html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:#3D444A!important;
    color: whitesmoke!important;
    
}

ul{
    padding: 0; list-style: none;
}
/* //Animations Effects */
.fromBlurToVisible{
    animation-name: blurToVisible;
    animation-duration: 1.5s;
}
@keyframes blurToVisible{
    0%{opacity: 0;};
    100%{opacity: 1;};
}

.leftToRightAnimation{
    animation-name: leftToRightAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

@keyframes leftToRightAnimation{
    from {left: -100vw; }
    to{left: 0;}
}

.rightToLeftAnimation{
    animation-name: headerBox;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes headerBox{
    from {right:-100vw}
    to {right:0}
}





/* for mobile */
@media screen and (max-width: 600px){

    /* header */
    header div{
        padding: 0!important;
        position: sticky!important;
        top: 0!important;
        
        background: transparent!important;
    }
    header div #headerOptionsBox{
        float: none!important;
        width: 100%!important;
        padding-top: .7em!important;
        background-color: whitesmoke  !important;
    }
   
   
    .sticky{
        position: fixed!important;
        top: 0!important;
    }

    /* profile */
    profile div{
        width: 100%!important;
        flex: 100%!important;
    }

    /* about */
   

    about #aboutBox div:nth-child(1){
        display: block!important;
    }
    
   
    about #aboutBox .aboutQuote{
        margin-top: .5em;
        padding-left: 0!important;
        height: fit-content!important;
        
    }

    about #aboutBox .aboutQuote p{
        padding-left: 0.2em!important;
    }

    #skillsContainer{
        width: 100%!important;
    }


    #project > div{
        height: fit-content!important;
    }
    #project ul li {
        float: none!important;
        width: 100%!important;
        margin-top: 5vh!important;
    }

    
    
   

   
  

    
   
}

@media only screen and (min-width : 601px) and (max-width:1024px){
    header div #headerOptionsBox{
            width: calc(100% - 40%)!important;
    }
    #profile #linkContainer{
        width: 33%!important; 
    }

    #project > div{
        height: 80vh!important;
    }

    #skillsContainer .skillBox .skillName{
        font-size: small!important;
        text-align: center!important;
    }
   

}







/* header */

header div{
    
    width: 100%;   
    text-align: right;
}
.sticky{
    position: fixed;
    top: 0;
    z-index: 20;
}

header div #headerOptionsBox{
    right: 0;
    background-color: whitesmoke;
    padding-top: 0.9em;
    width: calc(100% - 65%);
    height: 40px;
    
    
    
}




header ul{
    list-style-type: none;
    padding: 0;
    
}

header ul li a img{
    width: 20px;
    height: 20px;
    
}
header div ul li{
    float: left;
    width: calc(100% / 6);
    text-align: center;
    opacity: 1;
    
}

header div ul li a p span{
    height: 0.5vh;
    width: 30px;
    
    display: inline-block;
    border-radius: 20%;
    
}





/* profile */
profile > div{
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('assets/love_wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    z-index: -2;
    
}


profile div+div{
    color: whitesmoke;    
    position: absolute;
    z-index: 0;
    letter-spacing: 2px;
    background-image: none;
    margin-top: -50vh;
    opacity: .9;
    width: 100%;
    text-align: center;
    height: 120px;
    padding-top: 4vh;
}
#profile #introductionQuote{
    font-size: 22px;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    text-align: left;
    width: 25vw;
    height: 10vh;
    
}
#profile #linkContainer{
    text-align: center; width: 25%; position: absolute;
}
#profile ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: #3D444A;
    
}

#profile ul li{
    float: left;
    width: calc(100% / 3);
}
#profile ul li button{
    
    background-color: transparent;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1.2px;
    font-weight: lighter;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
   
}
profile .arrowUp{
    width: 100%;
    bottom: 0;
    height: fit-content;
    text-align: center;
    animation-name: arrowUpAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes arrowUpAnimation{
   50% {bottom: 1%;}
}

.section-name{
    padding-top: 10vh;
    text-align: center;
    margin-bottom: 5vh; 
    font-weight: bold;
}
.section-name span{
    padding-top: 0;
    display: inline-block; width: 80px; border-radius: 100px; height: 5px; 
    background-color: whitesmoke;
}


about .about-container{
    width: 100%;
    padding-bottom: 7vh;
    font-size: medium;
    line-height: 2em;
    font-weight: 400;
    z-index: 25;
    color: whitesmoke;
    height: fit-content;
}

about #aboutBox div:nth-child(1){
    
    width: 100%; display: flex; text-align: center;
    padding: 0;
}
about  .profileImageContainer{
    
     float: left;
     text-align: center;
    height: fit-content;
    width: fit-content;
}
about img{
    height: 35vh;
    width: 35vh;    
    
}
about  .aboutQuote{ 
     padding-left: 5em;
     float: left;
     flex-grow: 1;
    text-align: left;
    color: whitesmoke;
    font-size: large;
    font-family: 'Flamenco';
    font-weight:500;
    
}


/* about  .aboutQuote p {
    font-family: 'Flamenco';
} */
about  .aboutQuote button{
    background: transparent;
    border-style: solid;
    border-color: teal;
    color: teal;
    border-width: 2px;
    opacity: 1;
    font-weight: 700;
    font-size: medium;
}

about  .aboutQuote button:hover{
    border-color: teal;
    color: teal;
}






#skillsContainer{
    width: 50vw; padding:0;height: fit-content; background-color: transparent; z-index: 100; margin-top: 50px;
    margin-bottom: 40px;

}

#skillsContainer ul li{
    margin-top: 0.65em;
}

#skillsContainer .skillBox{
    background-color: #edeeef; width: 100%; height: 25px; display: flex;
    
    
}

#skillsContainer .skillBox .skillName{
    width: 20%;  background-color: darkslategray; float: left; font-size: 1.6vh;
    color: #fff;
    text-align: center;
    height: 100%;

}

#skillsContainer .skillBox .skillLevel{
      background-color: teal; float: left;
      color: transparent;
      height: 100%;
      width: 0;
     
}


#project > div{
    width: 100%; height: 100vh;
     background-color:#edeeef;
}

#project ul li{
    float: left;
    width: calc(100% / 3);
    text-align: center;
    opacity: 1;
}


#project ul li h4{
    font-weight: bold;
    color: #4682b4;
    text-align: center;

}

#project ul li > div{
    width: 80%; height: 35vh;
    opacity: 1;
    z-index: 1;
    border-radius: 5px;
    padding: 1.5em;
    background-color: white;
    text-align: center;

   
}
#project ul li div div p{
    text-align: justify;
    justify-content: center;
    padding: 0;
    font-family: 'Flamenco';
    font-size: medium;
    font-weight: bold;
    color: #3D444A;
    filter: brightness(100%);
    
}

#project ul li div div{
    width: 100%; height: fit-content;
    opacity: 1;
     color: black;
    text-align: center;
    padding: 0.7em;
    z-index: 3;
}
#project ul li div+div {
 text-align: center;
 height: fit-content;
 padding: 0;
 padding-bottom: 1em;
 border-color: white;
 
}

#project ul li button{
    background-color: transparent;
    
    color: rgb(11, 58, 202);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(11, 58, 202);
    filter: brightness(250%);
    

}







