html {
    scroll-behavior: smooth;
}

:root {
    --blue: #0a001b;
    --white: #fafeff;
}
body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background-color: var(--blue);
    color: var(--white);
    height: 100%;
    width: 100%;
}

.landing-page {
    height: 100vh;
    width: 100%;
}

.introduction-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6rem 12rem;
}

.introduction-container > div {
    flex-grow: 1;
}
.profile {
}
.profile  > img{
    clip-path: circle(50%);
    height: 100%;
    max-width: 100%;
    mix-blend-mode: difference;
    overflow: hidden;
}