html {
    scroll-behavior: smooth;
}

:root {
    --background: #f5f1fe;
    --brand-color: #1D366F;
    --second-color: #393e46;
    --third-color: #f96d00;
    --forth-color: #f2f2f2;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--forth-color);
}

header {
    background-color: var(--brand-color);
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
}

header>img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

section:first-of-type {
    background-color: var(--brand-color);
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lv-introduction {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lv-introduction>h1 {
    font-size: 3rem;
    margin-top: 0;
}

.lv-introduction>h2 {
    font-size: 2rem;
}

.lv-introduction>p {
    font-size: 1rem;
}

section > a {
    background-color: var(--brand-color);
    color: white;
    border: 1px solid white;
    font-weight: bold;
    padding: 16px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
}

a:hover {
    background-color: white;
    color: var(--brand-color);
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: fit-content;
    padding-bottom: 40px;
}

.lv-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--brand-color);
    width: 70%;
    text-align: center;
}

.mySlides {
    display: none;
}

.lv-corousel-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.lv-corousel {
    width: 98%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.lv-corousel>button{
    background-color: var(--brand-color);
    color: white;
    border: none;
    height: 70px;
    padding: 10px;
    border-radius: 70px;
    cursor: pointer;
    font-size: large;
    margin: 0 10px;
    border: 1px solid var(--brand-color);
}
.lv-corousel>button:hover {
    background-color: white;
    color: var(--brand-color);
}
.lv-corousel>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.steps-description {
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;
    color: var(--brand-color);
    font-size: small;
    height: 50px;
}
section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    background-color: var(--brand-color);
    padding-bottom: 50px;
}

.lv-contact-us {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
}

.lv-contact {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 50vh;
    color: var(--brand-color);
    background-color: white;
    border-radius: 10px;
}

.lv-input-box {
    width: 80%;
    height: 80%;
    background-color: var(--background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lv-input-box>textarea {
    width: 90%;
    height: 75%;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--brand-color);
    outline: none;
    resize: none;
}

.lv-input-box>button {
    background-color: var(--brand-color);
    color: white;
    border: none;
    height: 40px;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
    font-size: large;
}

.lv-input-box>button:hover {
    background-color: white;
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

footer {
    padding: 10px 0;
    background-color: var(--brand-color);
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) and (orientation: portrait) {

    .lv-introduction,
    .lv-instructions,
    .lv-contact-us {
        width: 95%;
    }

    .lv-introduction>h1 {
        font-size: 2rem;
    }

    .lv-introduction>h2,
    .lv-instructions>h2,
    .lv-contact-us>h2 {
        font-size: 1rem;
    }

    .lv-introduction>p,
    .lv-instructions>p,
    .lv-contact-us>p {
        font-size: 0.8rem;
    }

    a {
        padding: 10px 15px;
        font-weight: normal;
    }

    .lv-contact {
        width: 90%;
    }
   
    .lv-corousel-container {
        margin: 20px;
        width: 98%;
        height: 35%;
    }
    .lv-corousel {
        width: 80%;
        height: 100%;
    }
    .lv-corousel>button{
        height: 50px;
        padding: 5px;
        border-radius: 50px;
        font-size: medium;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    section:first-of-type {
        height: 120vh;
    }
    
    .lv-introduction,
    .lv-instructions,
    .lv-contact-us {
        width: 95%;
    }

    .lv-introduction>h1 {
        font-size: 2rem;
    }

    .lv-introduction>h2,
    .lv-instructions>h2,
    .lv-contact-us>h2 {
        font-size: 1rem;
    }

    .lv-introduction>p,
    .lv-instructions>p,
    .lv-contact-us>p {
        font-size: 0.8rem;
    }

    a {
        padding: 10px 15px;
        font-weight: normal;
    }
    .lv-corousel {
        height: 80%;
    }

    .lv-contact {
        width: 90%;
        height: 80vh;
    }

    .lv-input-box {
        height: 80%;
        width: 90%;
    }

    .lv-input-box>textarea {
        width: 90%;
        height: 70%;
    }
}