html {
    scroll-behavior: smooth;
}

:root {
    --background: #f5f1fe;
    --brand-color: #1D366F;
    --second-color: #393e46;
    --third-color: #f96d00;
    --forth-color: #f2f2f2;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    background: var(--background);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--forth-color);
}

header {
    background-color: var(--brand-color);
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
}

header > img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
section:first-of-type {
    background-color: var(--brand-color);
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lv-introduction {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.lv-introduction > h1 {
    font-size: 3rem;
    margin-top: 0;
}
.lv-introduction > h2 {
    font-size: 2rem;
}
.lv-introduction > p {
    font-size: 1rem;
}
section:first-of-type > a {
    background-color: var(--brand-color);
    color: white;
    border: 1px solid white;
    font-weight: bold;
    padding: 16px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
}
section:first-of-type > a:hover {
    background-color: white;
    color: var(--brand-color);
}
section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 85vh;
}
.lv-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--brand-color);
    width: 70%;
    text-align: center;
}
footer {
    padding: 10px 0;
    background-color: var(--brand-color);
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lv-introduction {
        width: 95%;
    }
    .lv-introduction > h1 {
        font-size: 2rem;
    }
    .lv-introduction > h2 {
        font-size: 1rem;
    }
    .lv-introduction > p {
        font-size: 0.8rem;
    }
    section > a {
        padding: 10px 15px;
        font-weight: normal;
    }
    .lv-instructions {
        width: 95%;
    }
}