html {
    scroll-behavior: smooth;
}

video,
canvas {
    border: 1px solid #ccc;
    margin: 20px 0;
    display: inline-block;
    height: 100px;
    width: 80%;
    object-fit: cover;
    border-radius: 5px;
}

#ocrResult {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

:root {
    --background: #f5f1fe;
    --header-height: 7vh;
    --section-height: calc(100vh - 2 * var(--header-height));
    --footer-height: var(--header-height);
    --first-color: #222831;
    --second-color: #393e46;
    --third-color: #f96d00;
    --forth-color: #f2f2f2;
    --finder-input-height: 5vh;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--second-color); */
    color: var(--first-color);
    background: var(--background);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 6px var(--first-color);
    letter-spacing: 8px;
    font-weight: bolder;
    font-size: 1.5rem;
    min-height: var(--header-height);
    background-color: var(--first-color);
    color: var(--forth-color);
    z-index: 10;
}

section {
    padding-top: var(--header-height);
    height: var(--section-height);
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.vehicle-finder {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: calc( var(--header-height) / 2);
}
.vehicle-finder-input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--background);
}
.finder-input {
    max-height: var(--finder-input-height);
    width: 100%;
    border-radius: calc(0.5 * var(--finder-input-height));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 1px 4px lightsteelblue;
    padding: 2px 0;
    background: white;
}

.finder-input>input {
    border: none;
    width: 70%;
    height: 70%;
}

.finder-input>input:focus {
    outline: none;
}

.finder-input .search-btn:first-child {
    height: 80%;
}

.finder-input .search-btn:last-child {
    height: 50%;
    cursor: pointer;
}

.finder-input .search-btn:hover {
    scale: 1.1;
}

.vehicle-details-wrapper {
    margin-top: 80px;
    width: 100%;
    background-color: var(--whitish);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
}

.card {
    width: 280px;
    background-color: white;
    height: 330px;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 15px var(--forth-color);
}


.owner-profile-banner {
    border-radius: 20px 20px 0 0;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url('https://loremflickr.com/200/200?random=4"');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.owner-profile-image {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 4px 20px lightslategrey;
    bottom: 0;
    transform: translate(0, 50%);
    background: url('https://loremflickr.com/200/200?random=2"');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.owner-details {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.owner-details h3 {
    margin-bottom: 0;
}
.owner-details .contact {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.owner-details .contact .cbtn {
    background-color: var(--first-color);
    color: var(--forth-color);
    width: 35%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
}
.owner-details .contact .cbtn:hover {
    scale: 1.1;
}
footer {
    width: 100%;
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    color: var(--forth-color);
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* .vehicle-finder {
        width: 90%;
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .vehicle-finder {
        width: 90%;
    }
    .vehicle-details-wrapper{
        align-items: center;
        justify-content: center;
    }
}